{% extends 'base.html.twig' %}

{% block title %}Hello StandingsController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4 text-center">Eredivisie Standings</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="h4">Position</th>
                <th scope="col" class="h4">Team</th>
                <th scope="col" class="h4">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for group in standings.standings %}
                {% for standing in group.table %}
                    <tr>
                        <td class="h5">{{ standing.position }}</td>
                        <td class="h5">{{ standing.team.name }}</td>
                        <td class="h5">{{ standing.points }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}