@import '~bootstrap/dist/css/bootstrap.css';

body {
    background-color: skyblue;
}

/* public/styles.css */
.teams-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}